<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Ionic 4 Native Date Time Picker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>Date & Time Pickers</h1>

  <ion-button (click)="showDatepicker()">
    Show Date Picker
  </ion-button>
  <h4>Date: {{myDate}}</h4>

  <ion-button (click)="showTimepicker()">
    Show Time Picker
  </ion-button>
  <h4>Time: {{myTime}}</h4>


  <ion-button (click)="showDateTimepicker()">
    Show Date & Time Picker
  </ion-button>
  <h4>Date & Time: {{myDateNTime}}</h4>

</ion-content>